<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinized!</h1>
    <%= @latinized.piglatinize(params[:user_phrase])%>

  </body>
</html>
